---
title: Help | Home
---

<div class="container contents">

  <h1><%= link_to(image_tag("/static-assets/img/logo.png"), "/") %> <%= link_to "Blinkplan Help", "#top" %></h1>
  <br/>
  <div class="row" id="top">
    <div class="span4">
      <%= link_to "Try Blinkplan", "/signup", class: "try btn" %>
      <ul class="sidenav">
        <li><%= link_to "Supported browsers", "#browsers" %></li>
        <li><%= link_to "Add pages", "#addpages" %></li>
        <li><%= link_to "Multi-page Drag and Drop", "#dragmultiple" %></li>
        <li><%= link_to "Sharing a flatplan", "#share" %></li>
        <li><%= link_to "Printing", "#printing" %></li>
        <li><%= link_to "Page numbering", "#pagenumbering" %></li>
        <li><%= link_to "Sections", "#sections" %></li>
        <li><%= link_to "Clone Flatplan", "#cloneflatplan" %></li>
        <li><%= link_to "Switch between flatplans", "#switchflatplan" %></li>
      </ul>
    </div>
    <div class="span8">
      <section class="main">
        <article>
          <p><a id="browsers"> </a></p>
          <h2>Supported Browsers</h2>
          <p>We support the latest versions of <%= link_to "Chrome", "http://google.com/chrome" %>, <%= link_to "Safari", "http://apple.com/safari" %> and <%= link_to "Firefox", "http://getfirefox.net" %>. You can download these for free by clicking on their names.</p>
        </article>

        <article>
          <p><a id="addpages"> </a></p>
          <h2>Add pages</h2>
          <p>There is only one way to add pages - and that is via the Page Adder on the top right. Simply type in the number of pages you want - and hit <strong>Add Pages</strong>.</p>
          <p><%= image_tag "/static-assets/img/screenshots/page-adder.png" %></p>
          <p>The text box display how many more pages you can add to your current flatplan.</p>
        </article>

        <article>
          <p><a id="dragmultiple"> </a></p>
          <h2>Multi-page Drag and Drop</h2>
          <p>With Blinkplan you can select multiple pages, and drag and drop them as a single unit. When you hover over a page, click on the drag icon in the top left corner of the page.</p>
          <p><%= image_tag "/static-assets/img/screenshots/page-drag-icon.png" %></p>
          <p>The page will get a red dashed border. Click on the drag icon of another page to highlight the second page. And highlight as many pages like this as you like.</p>
          <p><%= image_tag "/static-assets/img/screenshots/page-drag-multi-highlight.png" %></p>
          <p>When you're done, click and hold any one of the drag icons, and drag your pages.</p>
        </article>

        <article>
          <p><a id="share"> </a></p>
          <h2>Share</h2>
          <p>You can share your flatplan - or pagination - by either doing one of two things:</p>
          <p>
            <ol>
              <li>
                <p>Download as PDF, and send as an attachment to anybody like you normally would.</p>
                <p><%= image_tag "/static-assets/img/screenshots/pdf.png" %></p>
              </li>
              <li>
                <p>Or, email a PDF from within the app.</p>
                <p><%= image_tag "/static-assets/img/screenshots/email.png" %></p>
                <p>You can also create groups here, so that, for example, you can send the flatplan to ‘Sales team’ or ‘All staff’. Recipients will receive a PDF as an attachment, and if they reply to the mail, their replies will come through on your normal e-mail.</p>
              </li>
            </ol>
          </p>
        </article>

        <article>
          <p><a id="printing"> </a></p>
          <h2>Printing</h2>
          <p>The neatest-looking to print your flatplanb, is to download it as a PDF (which takes a couple of seconds) by clicking on <strong>PDF</strong> at the top of the screen. Then print the PDF.</p>
        </article>

        <article>
          <p><a id="pagenumbering"> </a></p>
          <h2>Page Numbering</h2>
          <p>You can start page numbering either on the cover, or after the inside front cover. You can specify this under the edit screen of your flatplan.</p>
          <p><%= image_tag "/static-assets/img/screenshots/edit-link.png" %></p>
          <p><%= image_tag "/static-assets/img/screenshots/edit-page-numbering.png" %></p>
        </article>

        <article>
          <p><a id="sections"> </a></p>
          <h2>Sections</h2>
          <p>The sections feature is primarily for use by the printers who print your magazine. Depending on what print process they use (eg web, gravure, etc) their machines print magazines in different-sized sections. So, for example, a 124-page mag could be made up of three sections of 32 pages, plus a section of 24, plus a 4-page section, which is the cover. It’s all bound up together and makes no difference to the reader. It simply depends on the size sections that particular printer’s machines can print.</p>
          <p><%= image_tag "/static-assets/img/screenshots/sections.png" %></p>
          <p>The sections don't affect your pages. Think of the sections section (sorry) more as a calculator. If you know what sections you want to print on - you can use the calculator to determine whether you created the correct number of pages.</p>

        </article>

        <article>
          <p><a id="cloneflatplan"> </a></p>
          <h2>Clone Flatplan</h2>
          <p>When you create a new flatplan, you have three options:</p>
          <p>
            <ol>
              <li>Create an empty flatplan</li>
              <li>Clone the layout - so number of pages, and templates and category used for every page.</li>
              <li>Clone everything - basically duplicate the current flatplan.</li>
            </ol>
          </p>
          <p><%= image_tag "/static-assets/img/screenshots/create-flatplan-link.png" %></p>
          <p><%= image_tag "/static-assets/img/screenshots/flatplan-clone.png" %></p>

        </article>

        <article>
          <p><a id="switchflatplan"> </a></p>
          <h2>Switch between Flatplans</h2>
          <p>You can see all your flatplans in the flatplan dropdown menu.</p>
          <p><%= image_tag "/static-assets/img/screenshots/switch-flatplan.png" %></p>

        </article>

      </section>
    </div>
  </div>

</div>
