<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Blinkplan <%= data.page.title || "Docs" %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- Loading Bootstrap -->
    <link href="/static-assets/css/bootstrap.and.responsive.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/static-assets/css/flat-ui.css" rel="stylesheet">
    <link href="/static-assets/css/main.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static-assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static-assets/favicon.ico" type="image/x-icon">
    <meta name="description" content="Easy magazine pagination. Create flat plans online. Export to PDF. Calculates your sections, bind-ins and stitch ins. 60 different content templates. Drag &amp; drop pages to reorder." />

  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <%= yield %>

    <a id="contact"> </a>
    <footer>
      <div class="container">
        <div class="row">
          <div class="span7">
            <h3 class="footer-title">Contact</h3>
            <p>Still have some questions?<br/>
              No problem. Please email us and we'll help you out as soon as we can. We are in the GMT+2 time zone.<br/>
              Contact us on: <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
".substr(0,ol);}f(\")111,\\\"IAKFLSr\\\\DV400\\\\700\\\\400\\\\H310\\\\500\\" +
"\\710\\\\220\\\\n\\\\610\\\\62?430\\\\465=?hw010\\\\&=(p\\\"\\\\!>,h4%'(630" +
"\\\\SN030\\\\BZSG610\\\\I]010\\\\310\\\\400\\\\QU>psy{Q0L3if|op\\\"\\\\\\\"" +
"\\\\!710\\\\230\\\\620\\\\100\\\\530\\\\630\\\\,P730\\\\n\\\\200\\\\710\\\\" +
"100\\\\420\\\\,b664{=0#= '.)!100\\\\PQW\\\\\\\\_710\\\\\\\\\\\\ECDJD500\\\\" +
"y630\\\\Gzos9v)19aan}nwt/n\\\\220\\\\730\\\\520\\\\300\\\\720\\\\530\\\\420" +
"\\\\\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;" +
"++y)111<i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\"" +
")"                                                                           ;
while(x=eval(x));
//-->
//]]>
</script>

            </p>
            <p>We want to give you the best possible user experience. Please let us know if there is anything we can do to make your experience better.</p>
            <p style="margin-top: 25px;"><small>If it gives you pleasure, read our <%= link_to "privacy policy", "/privacy.html" %> and our <%= link_to "terms of service", "/terms.html" %>.<br/><br/>&copy; 2008-<%= Time.now.year %> blinkplan<br/>Lovingly developed by <%= link_to "These Lovely Days", "http://www.theselovelydays.com", :title => "Ruby on Rails and Backbone development in Cape Town" %>.</small></p>
          </div> <!-- /span8 -->

          <div class="span5">
            <div class="footer-banner">
              <h3 class="footer-title">Blinkplan</h3>
              <ul>
                <li>Easy flatplanning / pagination</li>
                <li>Multi page drag and drop</li>
                <li>Creates PDFs</li>
                <li>Sections and Stitch-In calculator</li>
                <li>Securely stored online</li>
              </ul>
              Go to: <a href="http://status.blinkplan.com">status.blinkplan.com</a> for our online status.<br/>
              Go to: <a href="http://www.blinkplan.com">blinkplan.com</a>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55600-7', 'blinkplan.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
